body{
    display:flex;
    padding: 2em;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1em;
}
li{
    display: flex;
    border: 5px solid black;
    width: 25%;
    align-items: center;
   justify-content: center;
   position: relative;
   padding:0.5em;
   box-shadow: 0 0 1.5em 0.5em rgb(0,0,0,0.3);
}
li::before{
    content: '';
    inset:0;
    display: block;
    position: absolute;
    /*inset:0;*/
    box-shadow: 0 0 1.5em 0.2em rgb(0,0,0,0.3) inset;
}
img{
    width: 100%;
    height: auto;
    display: block;
}