html{
    font: 16px/1.5 "Helvetica", "sans-serif";
}
body{
    margin:0 auto;
    width: 1000px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Gerogia", "serif";
}
table{
    background-color: #CCCCCC;
}
thead{
    background-color:#CCCCCC ;
}
table>tbody>tr:nth-of-type(odd){
    background-color:#F0F0F0;
}
table>tbody>tr:nth-of-type(even){
    background-color:white;
}
td{
    width: 300px;
}
blockquote footer{
    text-align: right;
}
blockquote{
    border-left:5px solid rgb(221,221,221) ;
    font-style: italic;
   padding-left: 20px;
}
