* {
    box-sizing: border-box;
}
body{
    padding:2em;
}
.container {
    display: flex;
    max-width: 65vw;
    margin:0 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
}

span {
    flex-grow:1;
    display: block;
    border: 1px solid black;
    padding:0.5em;
    text-align: center;
}
.week span:nth-child(1),
.week span:nth-child(7){
    flex:1 0 100%;
}