@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
body{
    height: 100vh;
    margin:0;
    padding: 0;
    overflow: hidden;
}
.viewport {
    display: block;
    height: 50%;
    position: relative;
}
.viewport:first-child{
    background: linear-gradient(90deg, rgba(0,120,147,1) 0%, rgba(60,234,254,1) 49%, rgba(2,196,139,1) 89%);
}
.viewport{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.card{
    width:250px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  
    box-shadow: 0 0 1em 0.5 black;
}
.card::before{
    display: block;
    content:'';
    /* background:black; */
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    /*inset:0;*/
    box-shadow:0 0 1.5em 0.3em black inset;
    opacity:1;
    transition: opacity 0.3s ease-in;
}
svg{
    display: block;
    right: 0.5em;
    bottom: 0.5em;
    width: 32px;
    position: absolute;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
}
.card:hover::before{
    opacity: 0;
}
.card:hover svg{
    opacity: 1;
}
img{
    width: 100%;
    height: auto;
}
