* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 60em;
    padding: 3em;
    margin: 0 auto;
    gap: 1em;
    background-color: rgb(238, 238, 238);
}

.title {
    display: flex;
    flex: 0 1 90vw;
    height: 100px;
    border-bottom: 2px solid black;
}

.title p {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    align-self: center;
}

main {

    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
}

aside {
    flex: 1 0 auto;
    padding-left: 2em;
}

p,
ul {
    padding-bottom: 0.5em;
    font-size: 0.9em;
}

.img2 {
    float: left;
    margin:0 1em 1em 0;
}

.img1 {
    float: right;
    margin:0 0 1em 1em;
}
img[class*="img"]{
    border:3px solid black;
padding: 5px;
background-color:#fff;
box-shadow:0 0 0.5em 0 rgb(0,0,0,0.3);
}
blockquote{
    opacity: 0.7;
    font-style:italic;
    border-left: 2px solid gray;
    padding-left: 2em;
    float:right;
    max-width: 50%;
}
blockquote footer{
    text-align: right;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2.0em;
}
a{
    text-decoration: none;
    color: green;
}
