body{
    margin:0;
    padding: 10vh;
    background-color: lightgray;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 20vh;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em 1px rgb(0,0,0, 0.3);
}
article{
    margin:20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;
}
main{
    flex-grow: 2;
    margin-right: 10px;
    height: 100%;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em 1px rgb(0,0,0, 0.3);
}
aside{
    flex-grow: 1;
    margin-left: 10px;
    height: 100%;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em 1px rgb(0,0,0, 0.3);
}
footer{
    width: 100%;
    height: 20vh;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em 1px rgb(0,0,0, 0.3);
}