ul{
    list-style-type: none;
}
li{
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-top:2em
}
a{
    background-color: gainsboro;
    padding: 1em 2em 2em 2em;
    border-radius: 50%;
    position: relative;
}
svg{
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: fill 0.1s ease-in;
}
a.fb svg:hover{
    fill:cornflowerblue;
}
a.tw svg:hover{
    fill:cornflowerblue;
}
a.in svg:hover{
    fill:cornflowerblue;
}
a.g svg:hover{
    fill:orange;
}
a.ig svg:hover{
    fill:cornflowerblue;
}
